.cover img {
   background: rgba(0,0,0,0.2);
   height: 15rem;
   width: 100%;
   object-fit: contain; /* To avoid cropping */
   background-position: center;
   border-radius: 0 0 1rem 1rem;
}

.camera {
   position: absolute; /* For proper overlay */
   top: -3.5rem;
   left: 85%;
   height: 3rem;
   width: 3rem;
   font-size: 1.2rem;
}

.cover_dismisse {
   position: absolute;
   top: -6.5rem;
   left: 5%;
   height: 3rem;
   width: 3rem;
}

.upload {
   display: block;
   height: 10rem;
   width: 10rem;
   object-fit: cover;
   margin: 5rem auto;
   position: relative;
   top: -10rem;
   border-radius: 50%;
}

.user_name {
   margin-top: -14rem;
}

.contact_item {
   margin: 0.8rem;
   font-size: 30px;
   height: 3rem;
   width: 3rem;
   background: rgba(100,100,100,0.4);
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}

.contact_item .fa-facebook-f {
   color: #7BD586;
}

.contact_item .fa-telegram-plane {
   color: #1FCD35;
}

.contact_item .fa-tiktok {
   color: #69c9d0;
}

.contact_item .fa-phone {
   color: #4CD55D;
}

.massage {
   color: #69c9d0;
   background: rgba(100,100,100,0.6);
}